<h1 mat-dialog-title>{{ tituloAccion }} una Factura</h1>
<div mat-dialog-content>
  <form [formGroup]="formFactura">
    <mat-grid-list cols="1" rowHeight="80px">
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Codigo Factura</mat-label>
          <input matInput formControlName="codigoFactura" autocomplete="off" />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Nombre Cliente</mat-label>
          <input matInput formControlName="cliente" autocomplete="off" />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Correo Electronico</mat-label>
          <input
            matInput
            formControlName="correo"
            autocomplete="off"
            type="email"
          />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Ciudad</mat-label>
          <input matInput formControlName="ciudad" autocomplete="off" />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Nit</mat-label>
          <input
            matInput
            formControlName="nit"
            autocomplete="off"
            type="number"
          />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Total Factura</mat-label>
          <input
            matInput
            formControlName="totalFactura"
            autocomplete="off"
            type="number"
          />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Sub Total</mat-label>
          <input
            matInput
            formControlName="subTotal"
            autocomplete="off"
            type="number"
          />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>IVA</mat-label>
          <input
            matInput
            formControlName="iva"
            autocomplete="off"
            type="number"
          />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Retencion</mat-label>
          <input
            matInput
            formControlName="retencion"
            autocomplete="off"
            type="number"
          />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Fecha de Creacion</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="fechaCreacion">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Estado</mat-label>
          <mat-select formControlName="estado" >
            <mat-option value="primerrecordatorio">primerrecordatorio</mat-option>
            <mat-option value="segundorecordatorio">segundorecordatorio</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Pagada</mat-label>
        <mat-select formControlName="pagada">
          <mat-option value="true">true</mat-option>
          <mat-option value="false">false</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Fecha de pago</mat-label>
          <input matInput [matDatepicker]="picker2" formControlName="fechaPago">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close color="warn">Volver</button>
  <button mat-raised-button color="primary" (click)="addFactura()" [disabled] ="formFactura.invalid">
    {{ botonAccion }}
  </button>
</div>
